/* 사이드바(mypage) */
.mypage-sidebar {
  padding: 1%;
  margin-bottom: 15%;
  border: 1px solid #bcbcbc;
  position: sticky;
  margin-top: 10px;
} 


li {
  list-style: none;
  text-decoration: none;
  color:black;
}

.mypage-category-list ul li:hover {
  background-color: #bcbcbc;
  font-weight: bold;
}

.main-category-list ul li a {
	padding:1px;
}

.mypage-sidebar-list-myWriting {
	padding: 1%;
	border: 1px solid #bcbcbc;
}

.mypage-category-list ul li a {
	padding:1px;
}

/* 문서 목록 리스트 css */
.document {
  margin-bottom: 15%;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  height: 100px;
  white-space: nowrap;
overflow:hidden;
text-overflow: ellipsis;
}

.list-body tr:hover {
  background-color: #bcbcbc;
  font-size: 1em;
}


#mypage_starmark, #mypage_personalInfo, #mypage_mytag {
  display: none;
}

h2 {
  margin-top: 0;
}